In [1]:
hungry = False

if hungry:
    print('feed me')
else:
    print('Im not hungry')

Im not hungry

In [2]:
loc = 'Auto Shop'
if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not now much')

Cars are cool!

In [3]:
name = 'Sammy'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy')
else:
    print('whats your name?')

Hello Sammy

In [4]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [5]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [6]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [7]:
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [8]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [9]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [10]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [11]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [12]:
len(mylist)

4

In [13]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [14]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [15]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [16]:
d = {'k1': 1, 'k2':2, 'k3': 3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [17]:
x = 50
while x < 5:
    print(f'the current value of x is: {x}')
    x += 1
else:
    print('x is not less than 5')

x is not less than 5

In [18]:
x = [1,2,3]

for item in x:
    pass 
print('end of my script over here')

end of my script over here

In [19]:
mystring ='Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [20]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [21]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x +=1

0
1

In [22]:
mylist = [1,2,3]

for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [23]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [25]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [28]:

word = 'abcde'

for item,letter in enumerate(word):
    print(item)

0
1
2
3
4

In [30]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a', 'b', 'c','d']
mylist3 = [100,200,300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [31]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [32]:
'x' in [1,2,3]

False

In [33]:
'x' in ['x', 'y', 'z']

True

In [34]:
'a' in 'a world'

True

In [35]:
'mykey' in {'mykey': 345}

True

In [36]:
d = {'mykey': 345}

345 in d.keys()

False

In [37]:
mylist = [10,20,30,40,100]

In [38]:
min(mylist)

10

In [39]:
from random import shuffle

In [40]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [41]:
shuffle(mylist)

In [42]:
mylist

[3, 9, 5, 7, 4, 8, 6, 1, 2, 10]

In [43]:
from random import randint

In [44]:
randint(0,100)

12

In [45]:
randint(0,100)

0

In [46]:
randint(0,100)

92

In [47]:
mynum = randint(0,10)

In [48]:
mynum

2

In [50]:
result = input('Enter a number here:')

Enter a number here:50

In [51]:
result

'50'

In [52]:
mystring = 'hello'

In [53]:
mylist = []

In [54]:
for letter in mystring:
    mylist.append(letter)

In [55]:
mylist

['h', 'e', 'l', 'l', 'o']

In [56]:
mylist = [letter for letter in mystring]

In [57]:
mylist

['h', 'e', 'l', 'l', 'o']

In [58]:
mylist = [x for x in 'word']

In [59]:
mylist = [qweqwe for qweqwe in 'wordtwo']
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [60]:
mylist = [x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
mylist = [x**2 for x in range(0,11) if x%2 ==0]

In [65]:
mylist

[0, 4, 16, 36, 64, 100]

In [66]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [67]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [68]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp +32))

In [69]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [70]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [71]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [72]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [73]:
mylist = [1,2,3]
mylist.append(4)
mylist

[1, 2, 3, 4]

In [74]:
mylist.pop()

4

In [75]:
mylist

[1, 2, 3]

In [76]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.